@import "./variables.scss";

button,
.btn {
    border-radius: var(--radius-base);
    padding: var(--spacer-sm) var(--spacer-md);

    transition: var(--transform-colors-in);

    &:hover,
    &:active {
        transition: var(--transform-colors-in);
    }

    &[type="submit"],
    &[type="button"] {
        color: var(--color-text-light);
        background-color: var(--color-primary);
        border: 1px solid var(--color-primary-300);

        &:hover,
        &:active {
            color: var(--color-text-light);
            background-color: var(--color-primary-300);
        }
    }

    &[type="cancel"] {
        color: var(--color-text-dark);
        background-color: var(--color-gray-100);
        border: 1px solid var(--color-gray-300);

        &:hover,
        &:active {
            color: var(--color-text-light);
            background-color: var(--color-gray300);
        }
    }
}
