// Custom Prism theme
.token.property {
    color: #d73502;
}

.token.string {
    color: #032f62;
}

.token.number {
    color: #005cc5;
}

.token.boolean {
    color: #e36209;
}

.token.null {
    color: #6f42c1;
}
